* {
  box-sizing: border-box;
}
body {
  background-color: #292929;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  color: azure;
  height: 190vh;
  display: flex;
  flex-direction: column;
}
.movie-container select {
  background-color: azure;
  font-size: 17px;
  border: 0ch;
  border-radius: 4px;
  padding: 4px 14px 4px 14px;
}
.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slides{
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 1s;
}
.slide img{
  width: 500px;
  height: 300px;
  margin: 20px 140px 20px 140px;
}
.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -155px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid #094b65;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn{
  border: 2px solid #094b65;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: #094b65;
}
#radio1:checked~.first{
  margin-left: 0;
}
#radio2:checked~.first{
  margin-left: -20%;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio4:checked~.first{
  margin-left: -60%;
}
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 345px;
}
.navigation-auto div{
  border: 2px solid #094b65;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked~.navigation-auto.auto-btn1{
  background: #094b65;
}
#radio2:checked~.navigation-auto.auto-btn2{
  background: #094b65;
}
#radio3:checked~.navigation-auto.auto-btn3{
  background: #094b65;
}
#radio4:checked~.navigation-auto.auto-btn4{
  background: #094b65;
}
.showcase {
  background-color: #1b1b1b;
  display: flex;
  padding: 7px 11px 7px 11px;
  border-radius: 5px;
  justify-content: space-between;
  color: gray;
  margin-top: -100px;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 20px;
}
.row {
  display: flex;
}
.seat {
  background-color: grey;
  border-radius: 10px 10px 2px 2px;
  padding: 2px 8px 3px 8px;
  height: 25px;
  width: 25px;
  margin: 7px;
}
.seat.selected {
  background-color:rgb(82, 187, 82);
}
.seat.occupied {
  background-color: blueviolet;
}
.kursi {
  background-color: black;
  border-radius: 10px 10px 2px 2px;
  padding: 2px 8px 3px 8px;
  height: 25px;
  width: 25px;
  margin: 5px;
  margin-right: 30px;
}
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.3);
  background-color:rgb(82, 187, 82);
}
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1.1);
}
.container {
  perspective: 100px;
  margin-bottom: 30px;
}
.screen {
  background-color: azure;
  color: rgb(241, 225, 0);
  width: 35%;
  height: 50px;
  box-shadow: 0 -15px 15px   rgba(255, 255, 255, 0.75);
  margin: 50px 15px;
  transform: rotateX(25deg);
  border-radius: 0px 0px 15px 15px;
}
.screen h1 {
  transform: rotateX(-45deg);
  text-align:center;
  margin:auto;
}
p.text {
  margin: 10px 0;
}
p.text span {
  color: #6feaf6;
}
.tombol{
  width:250px;
  height:45px;
  border:none;
  outline:none;
  margin-top:20px;
  color: goldenrod;
  font-size:14px;
  background-color: black;
  border-radius:5px;
  font-weight:700
}
.tombol:hover{
  background-color: yellowgreen;
  color: black;
  cursor:pointer
}
.tombol:active{
  background-color: yellowgreen;
  padding-top:2px;
  box-shadow:none
}